mixin create-or-edit-post-form(post)
    - var isCreateForm = post === void 0;
    - var post = post || {};

    .create-or-edit-post-form(
        data-params=JSON.stringify({isCreateForm: isCreateForm, postId: post.id})
    )
        .messages

        form
            fieldset
                - var actionTitle = isCreateForm ? 'Создать новый' : 'Редактировать';

                legend #{actionTitle} пост

                unless isCreateForm
                    .form-row
                        img(
                            src=post.picture
                            width=100
                            style={width: '200px!important'}
                        )


                .form-row
                    label(for='postPicture') Изображение
                    input(
                        id='postPicture'
                        name='postPicture'
                        type='file'
                    )

                .form-row
                    label(for='postTitle') Название
                    input(
                        id='postTitle'
                        name='postTitle'
                        type='text'
                        value=post.title
                    )

                .form-row
                    label() Содержание
                    #postContent!= post.content

                .form-row
                    label(for='postPublishDate') Дата создания
                    input(
                        id='postPublishDate'
                        name='postPublishDate'
                        type='date'
                        value=post.inputDate
                    )

                .form-row
                    button(type='submit') Сохранить
